# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
npm-cache/

# Build outputs
dist/
dist-ssr/

# Environment files
*.local
.env

# OS/Editor-specific files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Windows AppData cache (not reliable to match like this, may ignore this)
# You can ignore system/user-specific paths manually
